.container {
    border: 1px solid lightgrey;
    box-shadow: 5px 10px 8px lightgrey;
    padding: 0.5rem;
    max-width: 30rem;
    margin: auto;
    margin-top: 5rem;
}
.container .header {
    text-align: left;
    padding-bottom: 1rem;
    border-bottom: solid 1px lightgrey;
}

.container .title {
    font-size: large;
    font-weight: 700;
}

.container form {
    margin-top: 1rem;
}
.container .footer {
    border-top: solid 1px lightgrey;
    padding-top: 0.8rem;
    display: flex;
    justify-content: flex-end;
    column-gap: 0.5rem;
}

.progressbarcontainer {
    background-color: lightgray;
    border-radius: 0.5rem;
    height: 0.5rem;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.progressbar {
    background-color: #3498db;
    min-height: 0.5rem;
    border-radius: 0.5rem;
    transition: ease-in-out 0.3s;
}
