button {
    background-color: black;
    padding: 0.6rem 2.5rem;
    color: white;
    border: 1px solid black;
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

button:hover {
    background-color: rgb(55, 55, 55);
}
button[disabled='disabled'],
button:disabled {
    opacity: 50%;
    cursor: not-allowed;
}

.white {
    background-color: white;
    color: black;
}

.white:hover {
    background-color: aliceblue;
}
